@import "./ColorPicker"

.ConfigMenu
  display flex
  flex-flow column no-wrap
  align-items center
  justify-content center
  width 100%
  height 100vh

.ConfigMenu-title
  font-size 3em

.ConfigMenu-list
  width 100%

.ConfigMenu-item
  display flex
  flex-flow column no-wrap
  margin 1em
  font-size 2em
  max-width 100%


  a:hover, a:active
    color $danger_color
