.MainMenu
  display flex
  flex-flow column no-wrap
  align-items center
  justify-content center
  width 100vw
  height 100vh

.MainMenu-title
  font-size 3em

.MainMenu-item
  margin 1em
  text-align center
  font-size 2em

  a:hover, a:active
    color $danger_color
