#canvas
  margin 0
  padding 0
html
  background $primary_color
.return-button
  color: $dark_text
  font-size 3em
  margin .5em
  position absolute
  top 0
  left 0
  a:visited
    color: $dark_text
  a:active, a:hover
    color: $primary_color

.descrition-text
  color: white
  font-size 2em
  text-align center
  margin 0
  background $primary_color
  height 45px
