#canvas
  margin 0
  padding 0

.return-button
  color: $dark_text
  font-size 3em
  margin .2em
  position absolute
  top 0
  left 0
  z-index 999
  a:visited
    color: $dark_text
  a:active, a:hover
    color: $primary_color

.descrition-text
  font-size 2em
  text-align center
  margin 0
  height 45px
